{% extends "layout.html" %}
{% block content %}
<!--Main layout-->
    <!--Google map-->
    <div id="map"></div>
    <script>
      var locations = [
      {% for p in profiles %}
        {info:'{{ p.service_description }}', lng: 13.4050, lat: 52.5200, id: {{ p.id }}},
      {% endfor %}
      ];
    </script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{map_key}}&callback=initMap&libraries=&v=weekly"
      async
    ></script>

<!--Main layout-->
{% endblock content %}